<div class="col-md-3 col-sm-4 col-xs-6"><div class="card"><div class="header"><img class="last-child img-responsive" src="<%= play.image_url %>" alt="<%= play.title %>" width="150"><p style="margin: 0 0 1px"><%= play.title %></p><p style="line-height: 0.9; margin: 0 0 15px"><small><%= play.title %>, <%= play.place %></small></p></div></div></div>
